<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
        colors="true"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="CompassElephant Test Suite">
            <directory>tests/CompassElephant/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/CompassElephant/</directory>
        </whitelist>
    </filter>
</phpunit>
